In [1]:
import pandas as pd

## Question 1

####  Find out how many males and females participated in the test.

In [2]:
data=pd.read_csv(r"E:\DATA ANALYSIS\Dataset\StudentsPerformance.csv")
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
5,female,group B,high school,free/reduced,completed,23,44,36
6,female,group B,some high school,free/reduced,none,24,38,27
7,female,group D,associate's degree,free/reduced,none,26,31,38
8,female,group D,some high school,free/reduced,none,19,34,32
9,female,group C,high school,standard,none,29,29,30
10,female,group C,some high school,free/reduced,completed,29,40,44
11,female,group D,bachelor's degree,free/reduced,none,29,41,47
12,female,group B,some high school,standard,completed,32,51,44
13,female,group C,some college,free/reduced,none,32,39,33
14,female,group E,some high school,free/reduced,none,32,34,38
15,female,group C,high school,free/reduced,none,33,41,43
16,female,group A,high school,free/reduced,completed,34,48,41
17,female,group C,high school,free/reduced,none,34,42,39
18,female,group C,high school,free/reduced,none,26,61,54
19,female,group C,some college,free/reduced,none,25,44,43
20,female,group C,high school,free/reduced,none,22,53,46
21,female,group D,some high school,free/reduced,completed,35,55,60
22,female,group C,high school,free/reduced,none,36,53,43
23,female,group A,associate's degree,free/reduced,none,37,57,56
24,female,group B,some high school,standard,none,37,46,46
25,female,group E,bachelor's degree,standard,none,37,45,38
26,female,group A,some high school,free/reduced,none,38,43,43
27,female,group B,high school,free/reduced,none,38,60,50
28,female,group E,some high school,free/reduced,none,38,49,45
29,female,group C,associate's degree,standard,none,39,64,57
...,...,...,...,...,...,...,...,...
970,male,group E,associate's degree,free/reduced,none,90,90,82
971,male,group A,bachelor's degree,standard,none,91,96,92
972,male,group B,associate's degree,standard,completed,91,89,92
973,male,group B,some college,standard,completed,91,96,91
974,male,group C,some college,standard,none,91,74,76
975,male,group C,bachelor's degree,standard,completed,91,81,79
976,male,group C,master's degree,standard,completed,91,85,85
977,male,group E,associate's degree,free/reduced,completed,91,73,80
978,male,group C,associate's degree,standard,none,92,79,84
979,male,group E,some high school,standard,none,92,87,78
980,male,group C,some college,standard,completed,93,84,90
981,male,group E,some college,free/reduced,none,93,90,83
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
984,male,group E,some high school,standard,none,94,88,78
985,male,group E,associate's degree,standard,completed,94,85,82
986,male,group E,high school,standard,none,94,73,71
987,male,group D,master's degree,standard,none,95,81,84
988,male,group C,bachelor's degree,standard,completed,96,90,92
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
992,male,group E,associate's degree,standard,completed,97,82,88
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [3]:
pd.value_counts(data['gender'])

female    518
male      482
Name: gender, dtype: int64

## Question 2

####  What do you think about the students' parental level of education?

In [4]:
pd.value_counts(data['parental level of education'])

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [5]:
data['parental level of education'].mode()   # Most repeated parental level of education is some college.

0    some college
dtype: object

In [6]:
# Most number of parents are studied in some colleges and had a associate's degree. Only 59 parents had Master's degree. Among 1000 data 196 people are educated till high school.

## Question 3

#### Who scores the most on average for maths, reading and writing based on: *Gender*

In [7]:
data.groupby('gender')['math score'].mean()

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [8]:
# Male students scored more average marks in Maths than female students

In [9]:
data.groupby('gender')['reading score'].mean()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [10]:
# Female students scored more average marks in Reading than male students

In [11]:
data.groupby('gender')['writing score'].mean()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

In [12]:
# Female students scored more average marks in Writing than male students

#### Who scores the most on average for maths, reading and writing based on: *Test Preparation Course*

In [13]:
data.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [14]:
# The students who are completed the test preparation course scored more average marks in Maths.

In [15]:
data.groupby('test preparation course')['reading score'].mean()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [16]:
# The students who are completed the test preparation course scored more average marks in Reading.

In [17]:
data.groupby('test preparation course')['writing score'].mean()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

In [18]:
# The students who are completed the test preparation course scored more average marks in Writing.

## Question 4

#### What do you think about the scoring variation for math, reading and writing based on: *Gender*

In [19]:
data.groupby('gender')['math score'].std()

gender
female    16.029928
male      14.556411
Name: math score, dtype: float64

In [20]:
# Standard deviation of the maths score of female students is more than that of male students.The maths score of female students is more deviated from the average compared to the male students.

In [21]:
data.groupby('gender')['reading score'].std()

gender
female    14.411018
male      14.149594
Name: reading score, dtype: float64

In [22]:
# Standard deviation of the reading score of female students is more than that of male students.The reading score of female students is more deviated from the average compared to the male students.But the difference is in smaller amount.

In [23]:
data.groupby('gender')['writing score'].std()

gender
female    14.844842
male      14.227225
Name: writing score, dtype: float64

In [24]:
# Standard deviation of the writing score of female students is more than that of male students.The writing score of female students is more deviated from the average compared to the male students.

#### What do you think about the scoring variation for math, reading and writing baesd on: *Test Preparation Course*

In [25]:
data.groupby('test preparation course')['math score'].std()

test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

In [26]:
# The students who are not taken the test preparation course have more standard deviation in maths score than students who are completed the test preparation course.

In [27]:
data.groupby('test preparation course')['reading score'].std()

test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

In [28]:
# The students who are not taken the test preparation course have more standard deviation in reading score than students who are completed the test preparation course.

In [29]:
data.groupby('test preparation course')['writing score'].std()

test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

In [30]:
# The students who are not taken the test preparation course have more standard deviation in writing score than students who are completed the test preparation course.

## Question 5

####  The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.

In [31]:
data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [32]:
data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [33]:
Q1=(1000+1)/4
Q1                        # Position of first quartile

250.25

In [34]:
data.nlargest(250,['math score'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100
513,female,group E,bachelor's degree,standard,completed,99,100,100
514,female,group E,high school,standard,none,99,93,90
995,male,group E,some college,standard,completed,99,87,81
512,female,group D,some college,standard,none,98,100,99
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
510,female,group B,bachelor's degree,standard,none,97,97,96
511,female,group D,some high school,standard,completed,97,100,100
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
992,male,group E,associate's degree,standard,completed,97,82,88
508,female,group C,bachelor's degree,standard,completed,96,100,100
509,female,group C,associate's degree,standard,completed,96,96,99
988,male,group C,bachelor's degree,standard,completed,96,90,92
507,female,group E,associate's degree,standard,completed,95,89,92
987,male,group D,master's degree,standard,none,95,81,84
505,female,group B,associate's degree,standard,completed,94,87,92
506,female,group E,master's degree,standard,completed,94,99,100
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
984,male,group E,some high school,standard,none,94,88,78
985,male,group E,associate's degree,standard,completed,94,85,82
...,...,...,...,...,...,...,...,...
434,female,group D,bachelor's degree,free/reduced,none,78,90,93
435,female,group D,master's degree,standard,none,78,91,96
857,male,group A,some college,standard,completed,78,72,70
858,male,group B,high school,standard,completed,78,69,67
859,male,group C,associate's degree,free/reduced,completed,78,81,82
860,male,group C,associate's degree,standard,completed,78,77,77
861,male,group C,some high school,standard,completed,78,72,69
862,male,group D,high school,free/reduced,completed,78,77,80
863,male,group D,some high school,standard,completed,78,81,86
864,male,group E,some high school,free/reduced,completed,78,83,80
865,male,group E,associate's degree,free/reduced,completed,78,74,72
414,female,group A,high school,free/reduced,completed,77,88,85
415,female,group B,master's degree,free/reduced,completed,77,97,94
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
417,female,group B,master's degree,standard,none,77,90,84
418,female,group B,high school,standard,completed,77,82,89
419,female,group C,bachelor's degree,standard,none,77,88,87
420,female,group C,bachelor's degree,standard,completed,77,94,95
421,female,group C,some college,free/reduced,none,77,90,91
422,female,group C,some high school,standard,completed,77,90,85
423,female,group C,some high school,standard,none,77,91,88
424,female,group D,associate's degree,free/reduced,completed,77,89,98
425,female,group D,master's degree,standard,completed,77,82,91
426,female,group D,some college,standard,none,77,68,77
427,female,group D,associate's degree,standard,none,77,77,73
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
849,male,group A,bachelor's degree,standard,none,77,67,68
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62

In [35]:
# These are the top 25% of students based on their scores in Maths.